mat-toolbar{
	padding: 0 2rem;
	justify-content: space-between;
}

.btn-container{
	display: flex;
	gap: 1rem;
}

.btn-container > .acaunt {
	background: white;
	color: black;
	padding: 0.1rem 0.4rem;
} 

.settings-panel{
	text-decoration: none;
	color: rgb(255, 255, 255);
}