<div class="container-add-manager">
	<h3>Add new manager</h3>
	<form class="add-manager-form"  (ngSubmit)="onSubmit()" [formGroup]="managerForm" >
		<div class="content">
			<div class="row">
				<mat-form-field appearance="outline">
					<mat-label>First Name</mat-label>
					<input (focus)="setRequirment(['First Name requirments', 'firstName'])" (blur)="insetRequrments()" formControlName="firstName" matInput placeholder="Ex: John" type="text">
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>Last Name</mat-label>
					<input (focus)="setRequirment(['Last Name requirments', 'lastName'])" (blur)="insetRequrments()" formControlName="lastName" matInput placeholder="Ex: Doe" type="text">
				</mat-form-field>				
			</div>
			<div class="row">
				<mat-form-field appearance="outline">
					<mat-label>Email</mat-label>
					
					<input (focus)="setRequirment(['Email requirments', 'email'])" (blur)="insetRequrments()"   formControlName="email" matInput placeholder="Ex: example@mail.com" type="email"/>
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>Password</mat-label>
					<input (focus)="setRequirment(['Password requirments', 'password'])" (blur)="insetRequrments()" formControlName="password" matInput  type="password">					
				</mat-form-field>
				
				<mat-hint *ngIf="requirmentsFor" >
					<h3>{{requirmentsFor[0]}}</h3>
					<ul class = "passwordRequirments">
						<li *ngIf="managerForm.get(requirmentsFor[1])?.errors?.['passwordLength']">
							{{ managerForm.get(requirmentsFor[1])?.errors?.['passwordLength'] }}
						  </li>
						  <li *ngIf="managerForm.get(requirmentsFor[1])?.errors?.['containNumber']">
							{{ managerForm.get(requirmentsFor[1])?.errors?.['containNumber'] }}
						  </li>
						  <li *ngIf="managerForm.get(requirmentsFor[1])?.errors?.['capitalLetter']">
							{{ managerForm.get(requirmentsFor[1])?.errors?.['capitalLetter'] }}
						  </li>
						  <li *ngIf="managerForm.get(requirmentsFor[1])?.errors?.['specialCharacter']">
							{{ managerForm.get(requirmentsFor[1])?.errors?.['specialCharacter'] }}
						  </li>
						  <li *ngIf="managerForm.get('email')?.errors?.['required']">
							Email is required
						  </li>
						  <li *ngIf="managerForm.get('email')?.errors?.['email']">
							Invalid email format.
						  </li>  
					</ul>
				</mat-hint>

			</div>
		</div>
		<div class="actions">
			<button type="button"  mat-dialog-close="false"  mat-raised-button>Cancel</button>
			<button [disabled]="!managerForm.valid"   type="submit" mat-raised-button color="primary" >
				Add
			</button>
			</div>
	</form>
</div>
