<main class="main-wrapper" *ngIf="isAuthorized">
	<div class=" wraper">
		<section class="toolbar">
			<app-toolbar></app-toolbar>
		</section>
		<section class="bread-crumb">
			<!-- Bread crumb component -->
			<bread-crumb></bread-crumb>
		</section>
		<section class="wrapper-layout">
			<section class="sidenav">
				<sidenav></sidenav>
			</section>
			
			<section class="layout">
				<layout></layout>
			</section>
		</section>
	</div>

</main>


<router-outlet *ngIf="!isAuthorized"></router-outlet>

<!-- change in a component to the route emps o logged user -->
