<section class="auth-form">
	<div class="container-header">
		
		<button (click)="switcherSignInOrSignUp()" class="btn-create-new-acc">
			{{
				signUp ? 
						'Have an acount Sign In' :
						'Create a new acaunt Sign Up'
			}}
		</button>
	</div>
	<form [formGroup]="signInForm">
		<mat-form-field appearance="outline">
			<mat-label>Email</mat-label>
			<input formControlName="email" matInput type="email" placeholder="examplae@email.com">
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Password</mat-label>
			<input matInput type="password" formControlName="password">
		</mat-form-field>
		<!-- <mat-form-field *ngIf="signUp" appearance="outline">
			<mat-label>Password</mat-label>
			<input matInput type="password" formControlName="password">
		</mat-form-field> -->
	</form>
	<div mat-dialog-actions class="actions">
		<button type="button"  mat-dialog-close="false"  mat-raised-button>Cancel</button>
		<button (click)="submitForm()" type="submit" mat-raised-button color="primary" >
			{{signUp ? 'Sign Up' : 'Sign In'}}
		</button>
	</div>

</section>
